<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算属性</title>
    <style>
        .bgc{
            width: 100px;
            height: 100px;
            border:1px solid #000000;
           margin:10px;
        }
    </style>
</head>
<body>
<div id = app>
    r:<input type="text" v-model="r"><br>
    g:<input type="text" v-model="g"><br>
    b:<input type="text" v-model="b"><br>
    <div class="bgc" :style="{backgroundColor:rgb}">{{rgb}}</div>
</div>

<script src="./lib/vue-2.6.12.js"></script>
<script>
    const vm = new Vue({
       el:'#app',
        data:{
            r:0,
            g:0,
            b:0
        },
        computed:{
        rgb() {
            return `rgb(${this.r},${this.g},${this.b})`
        }
        }
    })
</script>
</body>
</html>